body{
    margin: 0px;
    height: 130vh;
    background-color: darkgray;
    background-image: url(https://media.gettyimages.com/photos/ghana-traditional-kente-cloth-picture-id157308715?k=20&m=157308715&s=612x612&w=0&h=c-XqnyrCMN3rdN7xdOnpeY5EFoPVHElydnDPxzQe3kY=);
 
 }
 
 .container{
   height: 120vh;
   display: grid;
   grid-template-rows:repeat(2, 1fr);
   grid-template-columns:repeat(2, 1fr);
   grid-gap: 10px;
   border: 1px solid red;
   padding: 40px;
   background-color: rgb(231, 231, 114);
   /* // grid-template-areas: 
   // "box1 box2 box3"
   // "box4 box5 box6"; */
   justify-content:;
   align-content:;
 }

 .button {
  background-color: #4CAF50;
  transition-duration: 0.4s;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

/* .img{
  height: 20px;
} */